Options All -Indexes

RewriteEngine On
RewriteRule ^([a-zA-Z0-9/]+)$ index.php?views=$1

php_value upload_max_filesize 100M
 
php_value post_max_size 100M
 
php_value max_execution_time 1000
 
php_value max_input_time 1000

# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteBase /
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteRule ^(.*)$ index.php [QSA,L]
# </IfModule>
